{
	auto_https disable_redirects
}

http://pirate.local:80 {
    reverse_proxy /* http://localhost:8080

    redir /qb /qb/
    handle_path /qb/* {
        reverse_proxy * http://localhost:8080
    }

    redir /radarr /radarr/
    reverse_proxy /radarr/* http://localhost:7878

    redir /sonarr /sonarr/
    reverse_proxy /sonarr/* http://localhost:8989

    redir /jackett /jackett/
    reverse_proxy /jackett/* http://localhost:9117
}

#http://pirate.local:80 {
#    reverse_proxy /* http://qbittorrent:8080
#
#    redir /qb /qb/
#    handle_path /qb/* {
#        reverse_proxy * http://qbittorrent:8080
#    }
#
#    redir /radarr /radarr/
#    reverse_proxy /radarr/* http://radarr:7878
#
#    redir /sonarr /sonarr/
#    reverse_proxy /sonarr/* http://sonarr:8989
#
#    redir /jackett /jackett/
#    reverse_proxy /jackett/* http://jackett:9117
#}
