---

networks:
  # https://blog.oddbit.com/post/2018-03-12-using-docker-macvlan-networks/
  # docker network create -d macvlan -o parent=enp1s0 -o macvlan_mode=bridge --subnet=192.168.0.0/16 --gateway=192.168.0.1 --ip-range=192.168.2.192/26 --aux-address='host=192.168.2.192' johnny
  johnny: 
    external: true
  # docker network create --subnet=172.16.0.0/24 lagoon
  lagoon:
    external: true

volumes:
  qbittorrent_ts:
  radarr_ts:
  sonarr_ts:
  ombi_ts:
  prowlarr_ts:

services:
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent
    container_name: qbittorrent
    privileged: true
    env_file: ../tskey.env
    environment:
      - PUID=984
      - PGID=100
      - TZ=America/Montreal
      - UMASK=022
      - WEBUI_PORT=80
      - DOCKER_MODS=ghcr.io/tailscale-dev/docker-mod:main|ghcr.io/vuetorrent/vuetorrent-lsio-mod:latest
      - TAILSCALE_STATE_DIR=/var/lib/tailscale
      - TAILSCALE_SERVE_MODE=https
      - TAILSCALE_SERVE_PORT=80
      - TAILSCALE_HOSTNAME=qb
    volumes:
      - qbittorrent_ts:/var/lib/tailscale
      - /data/containers/qbittorrent:/config
      - ./qb/notify.sh:/config/notify.sh:ro
      - /d/ruby:/ruby
      - /d/ruby/downloads:/downloads
      - /d/emerald:/emerald
      - /d/jade/files/torrents:/torrents
    devices:
      - /dev/net/tun:/dev/net/tun
    networks:
      lagoon:
        aliases: ["qb"]
      johnny:
        ipv4_address: 192.168.2.200
    restart: unless-stopped
    labels:
      - falarie.groupby=pirateisland

  radarr:
    image: lscr.io/linuxserver/radarr
    container_name: radarr
    privileged: true
    env_file: ../tskey.env
    environment:
      - PUID=984
      - PGID=100
      - TZ=America/Montreal
      - UMASK=022 #optional
      - DOCKER_MODS=ghcr.io/tailscale-dev/docker-mod:main
      - TAILSCALE_STATE_DIR=/var/lib/tailscale
      - TAILSCALE_SERVE_MODE=https
      - TAILSCALE_SERVE_PORT=80
      - TAILSCALE_HOSTNAME=radarr
    volumes:
      - radarr_ts:/var/lib/tailscale
      - /data/containers/radarr:/config
      - /l/backup/raktar/radarr:/config/backup
      - /d/emerald:/emerald
    devices:
      - /dev/net/tun:/dev/net/tun
    networks:
      lagoon:
        aliases: ["rdr"]
      johnny:
        ipv4_address: 192.168.2.201
    restart: unless-stopped
    labels:
      - falarie.groupby=pirateisland

  sonarr:
    image: lscr.io/linuxserver/sonarr
    container_name: sonarr
    privileged: true
    env_file: ../tskey.env
    environment:
      - PUID=984
      - PGID=100
      - TZ=America/Montreal
      - UMASK=022 #optional
      - DOCKER_MODS=ghcr.io/tailscale-dev/docker-mod:main
      - TAILSCALE_STATE_DIR=/var/lib/tailscale
      - TAILSCALE_SERVE_MODE=https
      - TAILSCALE_SERVE_PORT=80
      - TAILSCALE_HOSTNAME=sonarr
      # - TAILSCALE_AUTHKEY=${TSKEY}
    volumes:
      - sonarr_ts:/var/lib/tailscale
      - /data/containers/sonarr:/config
      - /l/backup/raktar/sonarr:/config/Backups
      - /d/emerald:/emerald
    devices:
      - /dev/net/tun:/dev/net/tun
    networks:
      lagoon:
        aliases: ["snr"]
      johnny:
        ipv4_address: 192.168.2.202
    restart: unless-stopped
    labels:
      - falarie.groupby=pirateisland

  jackett:
    image: lscr.io/linuxserver/jackett
    container_name: jackett
    environment:
      - PUID=1000
      - PGID=100
      - TZ=America/Montreal
      - AUTO_UPDATE=false
    volumes:
      - /data/containers/jackett:/config
      - /d/jade/files/torrents:/torrents
    networks:
      lagoon:
        aliases: ["jkt"]
      johnny:
        ipv4_address: 192.168.2.213
    restart: unless-stopped
    labels:
      - falarie.groupby=pirateisland
