{
	auto_https disable_redirects
}

pirate.local {
    reverse_proxy /* http://qbittorrent:8080

    redir /qb /qb/
    handle_path /qb/* {
        reverse_proxy * http://qbittorrent:8080
    }

    redir /radarr /radarr/
    reverse_proxy /radarr/* http://radarr:7878

    redir /sonarr /sonarr/
    reverse_proxy /sonarr/* http://sonarr:8989

    redir /readarr /readarr/
    reverse_proxy /readarr/* http://readarr:8787

    redir /jackett /jackett/
    reverse_proxy /jackett/* http://jackett:9117

    redir /tvheadend /tvheadend/
    reverse_proxy /tvheadend/* http://tvheadend:9981

    redir /airsonic /airsonic/
    reverse_proxy /airsonic/* http://airsonic:4040
}
