{
	auto_https disable_redirects
}

http://iot.local:80 {
    reverse_proxy /* http://localhost:1880

    redir /nodered /nodered/
    reverse_proxy /nodered/* http://localhost:1880

    redir /homeassistant /homeassistant/
    reverse_proxy /homeassistant/* http://localhost:8123
}
