---

networks:
  johnny:
    external: true
  lagoon:
    external: true

volumes:
  ts:
  appdaemon:
  mosquitto:

services:
  iot_ts:
    image: tailscale/tailscale
    container_name: iot_ts
    cap_add:
      - net_admin
      - sys_module
    env_file: ../tskey.env
    environment:
      - TZ=America/Montreal
      - TS_HOSTNAME=homeassistant
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_USERSPACE=false
      - TS_SERVE_CONFIG=/config/serve.json
    volumes:
      - ts:/var/lib/tailscale
      - ./iot_ts:/config
    devices:
      - /dev/net/tun:/dev/net/tun
    networks:
      lagoon:
        aliases: [iot, ad, nr, ha]
      johnny:
        ipv4_address: 192.168.2.201
    extra_hosts:
      - "host:192.168.2.192" # Raktar's IP
      - "raktar:192.168.1.1" # Raktar's IP
      - "filebox:192.168.1.2" # Filebox's IP
    restart: unless-stopped
    labels:
      - falarie.groupby=iot

  mosquitto:
    image: docker.io/eclipse-mosquitto
    depends_on: [iot_ts]
    container_name: mosquitto
    volumes:
      - mosquitto:/mosquitto/data
      - /data/containers/mosquitto/config:/mosquitto/config
      - /data/containers/mosquitto/log:/mosquitto/log
    network_mode: service:iot_ts
    restart: unless-stopped
    labels:
      - falarie.groupby=iot

  homeassistant:
    image: lscr.io/linuxserver/homeassistant
    container_name: homeassistant
    depends_on: [iot_ts, mosquitto]
    privileged: true
    env_file: ../tskey.env
    environment:
      - PUID=986
      - PGID=986
      - HA_PORT=80
      - TZ=America/Montreal
    volumes:
      - /data/containers/homeassistant:/config
      - /l/backup/raktar/homeassistant:/config/backups
      - /data/containers/appdaemon/apps:/conf/apps
      - /data/containers/appdaemon/dashboards:/conf/dashboards
    network_mode: service:iot_ts
    restart: unless-stopped
    labels:
      - falarie.groupby=iot

  appdaemon:
    image: acockburn/appdaemon:latest
    container_name: appdaemon
    depends_on: [homeassistant, mosquitto]
    user: 986:986
    environment:
      - HA_URL=http://localhost:80
      - TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiIzMzMyM2Y5NGMyMjg0MzlhYmZkZGNhYzNkOTJmYWEwMiIsImlhdCI6MTczNTY5OTkxNSwiZXhwIjoyMDUxMDU5OTE1fQ.IbQOoigaz9q2UvnSZvmOKUUpO71WycXhrRpZaywLzfQ
      - DASH_URL=http://homeassistant.sole-altair.ts.net:5050
    volumes:
      - /data/containers/appdaemon:/conf
      - /dev/null:/certs
    network_mode: service:iot_ts
    restart: unless-stopped
    labels:
      - falarie.groupby=iot

  nodered:
    image: nodered/node-red
    container_name: nodered
    user: "1000:100"
    depends_on: [homeassistant, mosquitto]
    healthcheck:
      start_period: 20s
      test: curl -f http://nr:8080/health.html || exit 1
      interval: 5m
      retries: 3
    env_file:
      - ~/secrets/nodered.env
    environment:
      - TZ=America/Montreal
      # - NODE_RED_HTTPADMINROOT=/admin
      # - NODE_RED_HTTPNODEROOT=/
      - NODE_RED_PORT=8080
    volumes:
      - /data/containers/nodered:/data
      - /data/workspace:/workspace
      - /d/ruby/audio/podcasts/:/podcasts
    network_mode: service:iot_ts
    restart: unless-stopped
    labels:
      - falarie.groupby=iot
