---

networks:
  johnny:
    external: true
  lagoon:
    external: true

volumes:
  ts:
  pgdata:
  mariadb:

services:
  db_ts:
    image: tailscale/tailscale
    container_name: db_ts
    cap_add:
      - net_admin
      - sys_module
    env_file: ../tskey.env
    environment:
      - TZ=America/Montreal
      - TS_HOSTNAME=db
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_USERSPACE=false
      - TS_SERVE_CONFIG=/config/serve.json
    volumes:
      - ts:/var/lib/tailscale
      - ./ts:/config
    devices:
      - /dev/net/tun:/dev/net/tun
    networks:
      lagoon:
        aliases: ["db"]
      johnny:
        ipv4_address: 192.168.2.200
    extra_hosts:
      - "host:192.168.2.192" # Raktar's IP
      - "raktar:192.168.1.1" # Raktar's IP
      - "filebox:192.168.1.2" # Filebox's IP
    restart: unless-stopped
    labels:
      - falarie.groupby=db

  # mariadb:
  #   image: lscr.io/linuxserver/mariadb
  #   container_name: mariadb
  #   env_file:
  #     - ~/secrets/mariadb.env
  #   environment:
  #     - PUID=990
  #     - PGID=990
  #     - TZ=America/Montreal
  #   volumes:
  #     - /data/containers/mariadb:/config
  #     - /l/backup/raktar/mariadb:/backup
  #   network_mode: service:db_ts
  #   restart: unless-stopped
  #   labels:
  #     - falarie.groupby=db

  postgres:
    image: postgres:17
    container_name: postgres
    # set shared memory limit when using docker compose
    shm_size: 128mb
    env_file:
      - ~/.secrets/postgres.env
    volumes:
      - /data/containers/postgres/config:/config
      - /data/containers/postgres/data:/var/lib/postgresql/data
      - /l/backup/raktar/postgres:/backup
    network_mode: service:db_ts
    # ports:
    #   - 5432:5432 
    restart: unless-stopped
    labels:
      - falarie.groupby=db

  adminer:
    image: adminer
    container_name: adminer
    command: "php -S [::]:80 -t /var/www/html"
    environment:
      - ADMINER_DEFAULT_SERVER=db:5432
    volumes:
      - ./adminer/login-servers.php:/var/www/html/plugins-enabled/login-servers.php:ro
    network_mode: service:db_ts
    # ports:
    #   - 8080:8080
    restart: unless-stopped
    labels:
      - falarie.groupby=db
